<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/index.css">
	<meta charset="utf-8">
</head>
<body>
	<div id="banner">
		<h1>思•恋</h1>
		<div class="header">
			{% if user %}
			<span class="newArticle item">
				<a href="/newBlog">发表文章</a>
			</span>
			<span class="userName item">
				<a href="/profile/{{user}}">{{user}}</a>
			</span>
			<span class="logout item">
				<a href="/logout">退出</a>
			</span>
			{% else %}
			<span class="reg item">
				<a href="/signup">注册</a>
			</span>
			<span class="login item">
				<a href="/login">登录</a>
			</span>
			{% end %}
		</div>

	
		<pre>
			
			与世界分享你的所见所得，一点一滴

			独特的心情和诉求

			发布私人情感

			我们致力于打造一个

			恋爱心情、杂想发布的平台
	    </pre>
	</div>
	<div id="models">
		<a href="/mailbox">
			<!-- <div class="img">
				<img src="../static/img/model1.jpg">
			</div> -->
			<div class="model shilian">
				<span>失恋</span>
			</div>
		</a>
		<a href="/mailbox">
			<!-- <div class="img">
				<img src="../static/img/model2.jpg">
			</div> -->
			<div class="model anlian">
				<span>暗恋</span>
			</div>
		</a>
		<a href="/mailbox">
			<!-- <div class="img">
				<img src="../static/img/model3.jpg">
			</div> -->
			<div class="model yidilian">
				<span>异地恋</span>
			</div>
		</a>
		<a href="/mailbox">
			<!-- <div class="img">
				<img src="../static/img/model4.jpg">
			</div> -->
			<div class="model ailian">
				<span>爱恋</span>
			</div>
		</a>
		<!-- <a href="/museum">
			<div class="model museum">
				<span>爱情博物馆</span>
			</div>
		</a> -->
    </div>
</body>
</html>
