<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>登录界面</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/main.css")}}">
	<script type="text/javascript" src="{{static_url("js/login.js")}}"></script>
</head>
<body>
	<div id="topimg">
		<div id="top">
			<div id="banner">
				<h1>思•恋</h1>
				<pre>

					与世界分享你的所见所得，一点一滴

					独特的心情和诉求

					发布私人情感

					我们致力于打造一个

					恋爱心情、杂想发布的平台

			    </pre>
			</div>
			<div id="login">
				<div>用户登录</div><hr>
				<form method="post">
					<div class="input">
						<span class="tip">账号名：</span>
						<input type="text" name="user" value="必填" id="acc" maxlength="32">
						<span id="acctip"></span>
					</div>
					<div class="input">
						<span class="tip">密码：</span>
						<input type="text" name="password" value="必填" id="pass">
						<span id="passtip"></span>
					</div>
					<div class="input">
						<span class="tip">验证码：</span>
						<input type="text" name="checkcode" value="必填" id="check">
						<span id="checkcode" ></span><br>
						<span id="checktip"></span>
					</div>
					<div class="input">
						<input id="submit" type="submit" value="确定"><a href="/signup" id="unreg">未注册？</a>
					</div>
				</form>
			</div>
		</div>
	</div>
		<div id="models">
		<a href="#">
			<div class="img">
				<img src="{{static_url("img/model1.jpg")}}">
			</div>
			<div class="model">失恋</div>
		</a>
		<a href="#">
			<div class="img">
				<img src="{{static_url("img/model2.jpg")}}">
			</div>
			<div class="model">暗恋</div>
		</a>
		<a href="#">
			<div class="img">
				<img src="{{static_url("img/model3.jpg")}}">
			</div>
			<div class="model">异地恋</div>
		</a>
		<a href="#">
			<div class="img">
				<img src="{{static_url("img/model4.jpg")}}">
			</div>
			<div class="model">爱恋</div>
		</a>
    </div>
</body>
</html>
