<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<title>注册界面</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/main.css")}}">
	<script type="text/javascript" src="{{static_url("js/reg.js")}}"></script>
</head>
<body>
	<div id="topimg">
			<div id="reg">
				<div>用户注册</div><hr width="225">
				<form method ="post">
					<div class="input">
						<span class="tip">账号名：</span>
						<input type="text" name="user" value="必填" id="acc" maxlength="32">
						<span id="acctip"></span>
					</div>
					<div class="input">
						<span class="tip">密码：</span>
						<input type="text" name="password" value="必填" id="pass" >
						<span id="passtip"></span>
					</div>
					<div class="input">
						<span class="tip">确认密码：</span>
						<input type="text" name="repassword" value="必填" id="repass">
						<span id="repasstip"></span>
					</div>
					<div class="input">
						<span class="tip">用户名：</span>
						<input type="text" name="name" value="必填" id="name" >
						<span id="nametip"></span>
					</div>
					<div class="input">
						<span class="tip">QQ号码：</span>
						<input type="text" name="qq" id="qq">
						<span id="qqtip"></span>
					</div>
					<div class="input">
						<span class="tip">邮箱：</span>
						<input type="text" name="email" value="必填" id="email" >
						<span id="emailtip"></span>
					</div>
					<div class="input">
						<span class="tip">验证码：</span>
						<input type="text" name="checkcode" value="必填" id="check" >
						<span id="checkcode" ></span><br>
						<span id="checktip"></span><br>
					</div>
					<div class="input">
						<input id="submit" type="submit" value="确定">
					</div>
				</form>
			</div>
		</div>
	</div
</body>
</html>
