<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{static_url("css/userinfo.css")}}">
  <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet">
</head>
<body>
   <div class="header">
    <div class="logo">
        <a href="/">
          <span class="index item">
            思•恋
          </span>
        </a>
    </div>
    <div class="actions">
      <span class="userName">
            <a href="/profile/{{user}}">{{user}}</a>
        </span>
        <span class="newArticle">
            <a href="/newBlog">发表文章</a>
        </span>
        <span class="exit">
            <a href="/logout">退出</a>
        </span>
    </div>
        
    </div>

    <div class="content">
      <div class="userInfo">
        <p>这里是你的个人信息</p>
        <ul>
          <li>
            <span class ="name item">
              <span class="title">用户名:</span>{{user}}
            </span>
          </li>
          <li>
            <span class="qq item">
              <span class="title">邮箱:</span> {{mail}}
            </span>
          </li>
          <li>
            <span class ="messageEdit item">
              <a href="/update" id="change">[修改个人信息]</a>
            </span>
          </li>
        </ul>
      <div>
      <div class="articles">
        <p>这里是你发布过的文章</p>
        {% for article in articles %}
        <div class="articleItem">
          <div class="articleHeader">
            <a href="/article/{{article[0]}}" class = "messageTitle">
              <span class="articleTitle item">{{article[1]}}</span>
            </a>
          </div>
          <div class="articleContent">
             <pre>
              {{article[2]}}
             </pre>
          </div>
        </div>
        {% end for %}
      </div>
    </div>

</body>
</html>
