
body {
    padding: 0;
    margin: 0;
    width:100%;
    font-family: 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',STHeiti,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
}



.header {
    width: 100%;
    height: 90px;
    background-image: url('../img/model5.jpg');
}

.header span {
    display: inline-block;
    float: right;
    height: 40px;
    margin-top:40px;
    margin-right: 20px;
    font-family: 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',STHeiti,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
}

.header span a {
    color: white;
}

.header:after {
    clear:both;
}

.content {
    width:80%;
    margin: 0 auto;
}

.titleInput {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.titleInput input {
    width: 100%;
    height: 40px;
    border: 2px solid #337ab7;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-family: 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',STHeiti,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 40px;
}


.contentInput {
    width: 80%;
    margin: 0 auto;

}

.contentInput textarea {
    width: 100%;
    height: 400px;
    overflow: scroll;
}


.chooseSubmit {
    width: 80%;
    margin: 3% auto 0 auto;
}

.chooseSubmit .chooseTitle {
    width: 13%;
    text-align: left;
    margin-right: 2%;
}

.articleType span {
    display: inline-block;
    width: 10%;

}

.modeChoose span {
    display: inline-block;
    width: 10%;
    margin-top: 3%;
}

.chooseSubmit .submit {
    margin-top: 3%;
}